# ===================================================================
# solstice-tools-outliner requirements file
# ===================================================================
artellapipe
artellapipe-tools-outliner