# ===================================================================
# solstice-tools-outliner requirements file
# ===================================================================

artellapipe-tools-outliner